.boxSection {
  margin-top: 13px;
  padding: 2rem;
  border: 1px solid var(--grey-2);
  border-radius: 0.25rem;
  grid-area: b;

  @media (min-width: 900px) {
    width: 22.1875rem;
  }
}

.sumBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
