.ControlFinanceCard {
  margin-top: 1rem;
  padding: 1.5rem;
  background-color: var(--grey-1);
  border-radius: 4px 0, 0, 4px;
  border-left: 4px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h3 {
    margin-top: 0.4rem;
    margin-bottom: 1rem;
  }

  button {
    margin-top: 1rem;
  }

  @media (min-width: 1024px) {
    justify-content: space-between;
    flex-direction: row;
  }

  &.green {
    border-color: var(--color-secondary);
  }

  &.grey {
    border-color: var(--grey-2);
  }
}

.box {
  span {
    margin-top: 100rem;
  }
}
