.ControlFinanceList {
  h3 {
    margin-bottom: 1.4rem;
  }

  @media (min-width: 1024px) {
    li {
      width: 40rem;
    }
  }

  @media (max-width: 800px) {
    h3 {
      margin-top: 1.1rem;
    }
  }
}
